<div class="film-details">
  <app-details-header [title]="'Film Details'" [subtitle]="(film$|async)?.title"
                      [hint]="'Episode ' + (film$|async)?.episode_id">
  </app-details-header>

  <app-details-content [details]="details$ | async" [description]="(film$ | async)?.opening_crawl"
                       [imageSrc]="imageSrc">
  </app-details-content>

  <app-details-section [title]="'Characters'" [items]="characters$ | async"
                       (itemSelected)="navigateToPerson($event)" (addNew)="addNewPerson()">
  </app-details-section>

  <app-details-section [title]="'Planets'" [items]="planets$ | async"
                       (itemSelected)="navigateToPlanet($event)" (addNew)="addNewPlanet()">
  </app-details-section>
</div>
