<div class="person-details">
  <app-details-header [title]="'Character Details'" [subtitle]="(people$|async)?.name">
  </app-details-header>

  <app-details-content [details]="details$ | async" [imageSrc]="imageSrc">
  </app-details-content>

  <app-details-section [title]="'Films'" [items]="films$ | async"
                       (itemSelected)="navigateToFilm($event)" (addNew)="addNewFilm()">
  </app-details-section>

  <app-details-section [title]="'Home'" [items]="home$ | async"
                       (itemSelected)="navigateToPlanet($event)" (addNew)="addNewPlanet()">
  </app-details-section>
</div>
