@import "../../../styles/colors";

.details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-bottom: 2rem;


  color: $primary-color;
  font-family: Roboto, serif;

  .title {
    font-weight: 300;
    font-size: max(2vw, 20px);
    line-height: max(3vw, 25px);
    margin-bottom: 0;
    border-bottom: 1px solid $primary-color;
  }

  .subtitle {
    font-weight: bold;
    font-size: max(3vw, 30px);
    line-height: max(4vw, 35px);
    margin: 0;
    text-align: center;
  }

  .hint {
    font-weight: 300;
    font-size: max(1vw, 15px);
    line-height: max(2vw, 17px);
    margin-top: 0;
  }
}

