@import "./styles/sizes";
@import "./styles/colors";

.header-container {
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: $background-color;
}

.padded {
  padding-bottom: 1vh;
  padding-left: 13vw;
  padding-right: 13vw;
}

.separator {
  border: 1px solid #10172C26;
  box-shadow: 0 3px 6px #00000029;
  left: 0;
  right: 0;
  margin: 0;
}

@media (max-width: $small-max-width) {
  .padded {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.app-content {
  position: absolute;
  inset: 5rem 0 0 0;

  display: flex;
  flex-direction: column;

  .main {
    padding-top: 2vh;
    padding-bottom: 3vh;
    flex-grow: 1;
  }

  .bottom {
    flex-grow: 0;
  }
}
