@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'starwars';
  src: local('starwars'), url('assets/fonts/starwars.ttf') format('truetype');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
.blur-background {
  background: hsl(0 0% 0% / 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
  .blur-background {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}
