@import "../styles/colors";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: $primary-color;
  color: $background-color;

  left: 0;
  right: 0;
  height: 100%;
  position: absolute;

  font-size: min(3vh,1.7vw);

  .text {
    text-align: center;
    line-height: 0.75;
    word-spacing: 9999rem;
    font-size: 10em;
    font-family: 'starwars';
  }
}

