@import "../styles/colors";

.home {
  background: $primary-color;
  color: #FFFFFF;

  left: 0;
  right: 0;
  height: 100%;
  position: absolute;

  font-size: min(3vh,1.7vw);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    text-align: center;

    line-height: 0.75;

    font-size: 15em;
    font-family: 'starwars';
  }
}

